body{
  margin: 0;
  text-align: center;
  font-family:'Merriweather Sans', sans-serif;
}

h1{
  font-size: 5.625rem;
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
}

h2{
  font-family: 'Montserrat', sans-serif;

}

h3{
  font-family: 'Montserrat', sans-serif;
}

div{
  padding: 20px;
}



/*************************CLASSES*****************************************/

.top{
  background: #cae4db;
  position: relative;
  padding-top: 100px;
}


.top-cloud{
  position: relative;
  left: 200px;

}

.bottom-cloud{
  position: absolute;
}


.profile_pic{
  height: 150px;
  width: 150px;
  border-radius: 100%;
}

.under_paragraph{
  font-size: 2.5rem;
}

.skill-row{
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;
}

.pimentos{
  height: 150px;
  width: 150px;
  border-radius: 100%;
  float: left;
  margin-right: 30px;
}
.nuvem{
  height: 50%;
  width: 30%;
  float: right;
  margin-left: 30px;
  margin-top: 30px;
}
